/* 明暗切换 */
#web_bg {
    transition: background-image 0.5s ease-in-out !important;
}

/* 由黑夜切换为白天的时间会长一点 */
@media (prefers-color-scheme: dark) {
    #web_bg {
        transition-duration: 0.8s !important;
    }
}

/* 单独设置首页副标题的字体 */

.banner-text .h2 > #subtitle.visible {
  font-family: "Yu Mincho", "游明朝", "sans-serif", serif;
}



  


