.heimu, .heimu a, a .heimu, .heimu a.new {
    background-color: #252525;
     color: #252525;
     text-shadow: none;
     }
     .heimu:hover, .heimu:active,
     .heimu:hover .heimu, .heimu:active .heimu {
         color: white !important;
     }
    .heimu:hover a, a:hover .heimu,
    .heimu:active a, a:active .heimu {
     color: lightblue !important;
   }
    .heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
    .heimu:active .new, .heimu .new:active, .new:active .heimu {
     color: #BA0000 !important;
    }
   /*
    @font-face {
        font-family: "Si Yuan";
        src: url("../fonts/Si Yuan.otf") format("truetype");
        font-weight: 400;
      }
   */
    .h2 #subtitle {
        font-family: sans-serif; /* 替换为你想要的字体 */
        font-size: 32px; /* 调整字体大小 */
        color: #ffffff; /* 设置字体颜色 */
        opacity: 0; /* 初始透明度为0，隐藏 */
        transition: opacity 1.5s linear; /* 设置过渡效果 */
    }

    .h2 #subtitle.visible {
      opacity: 1; /* 完全可见 */
    }
    /*毛玻璃*/
    #board {
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
    }
