@font-face {
  font-family: "archfont"; 
  src: url('arch.ttf?t=1771918631145') format('truetype');
}

.icon-arch-base {
  font-family: "archfont"; /* 去掉 !important */
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arch-linux:before {
  content: "\e604";
}